---
import { getCollection } from 'astro:content'
import Section from '../../components/Section.astro'
import Layout from '../../layouts/Layout.astro'

const blogEntries = (await getCollection('blog')).sort(
  (a, b) =>
    (b.data.isDraft ? b.data.draftDate : b.data.publishDate).getTime() -
    (a.data.isDraft ? a.data.draftDate : a.data.publishDate).getTime()
)
---

<Layout title="Blog | Daniel Mata">
  <Section class="my-0">
    <ul class="block max-w-none">
      {
        blogEntries.map(blogPostEntry => {
          const date = blogPostEntry.data.isDraft
            ? blogPostEntry.data.draftDate
            : blogPostEntry.data.publishDate

          return (
            <li>
              {blogPostEntry.data.isDraft ? (
                <span class="font-medium">{blogPostEntry.data.title} (coming soon)</span>
              ) : (
                <a href={`/blog/${blogPostEntry.slug}`}>{blogPostEntry.data.title}</a>
              )}
              {!blogPostEntry.data.isDraft && (
                <p>
                  {blogPostEntry.data.description}
                  <br />
                  <time class="text-xs sm:text-base" datetime={date.toISOString()}>
                    {date.toDateString()}
                  </time>
                </p>
              )}
            </li>
          )
        })
      }
    </ul>
  </Section>
</Layout>

<script src="../../components/staticRoot.tsx"></script>
